<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="detalle-sensor/' + sensorId"></ion-back-button>
    </ion-buttons>
    <ion-title>Sensor n° {{sensorId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          Fecha
        </div>
      </ion-col>
      <ion-col>
        <div>
          Apertura
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let log of logs">
      <ion-col>
        <div>
          {{log?.fecha}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{log?.apertura}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>